<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sincart</display-name>
  

<servlet>
 <servlet-name>oshin3</servlet-name>
 <servlet-class>com.servlet.LogServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>oshin3</servlet-name>
 <url-pattern>/home</url-pattern>
 </servlet-mapping>




<servlet>
 <servlet-name>oshin1</servlet-name>
 <servlet-class>com.servlet.regservlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>oshin1</servlet-name>
 <url-pattern>/register</url-pattern>
 </servlet-mapping>
 
 
<servlet>
 <servlet-name>oshin2</servlet-name>
 <servlet-class>com.servlet.ItemServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>oshin2</servlet-name>
 <url-pattern>/item_insert</url-pattern>
 </servlet-mapping>
  

<servlet>
 <servlet-name>oshin4</servlet-name>
 <servlet-class>com.servlet.ItemSelectServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>oshin4</servlet-name>
 <url-pattern>/item</url-pattern>
 </servlet-mapping>


<servlet>
 <servlet-name>oshin5</servlet-name>
 <servlet-class>com.servlet.PurServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>oshin5</servlet-name>
 <url-pattern>/purchase</url-pattern>
 </servlet-mapping>




</web-app>  
  